body{
    display: flex;
    flex-direction: column;
}
.navbar{
    font-size: 1.2rem;
    border: 2px solid red;
}
.navbar img{
    max-width: 100px;
    max-height: 100px;
}
.heading{
    display: flex;
    flex-direction: column;
 
    border: 2px solid black;
}
.heading img{
   overflow: hidden;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}