html {
  scroll-behavior: smooth;
}
body {
  font-family: "Climate Crisis", cursive;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(94, 135, 142, 255);
}
.navbar img {
  max-width: 100px;
}
.navbar a {
  color: white;
}
.formBody {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
  min-height: 500px;
}
.formBody form {
  border: 2px solid black;
  width: 70%;
  height: 100%;
  min-height: 400px;
}

form {
  background-image: url("/images/gymCardImage3.jpg");
  filter: brightness(90%);
  filter: grayscale(10%);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
